@keyframes reveal {
  from {
    width: 0;
  }
}

@keyframes blink {
  0% {
    background-color: $gray;
  }

  50% {
    background-color: transparent;
  }

  100% {
    background-color: $gray;
  }
}

.copyright {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  color: $gray;
  text-align: center;
  white-space: nowrap;

  &::after {
    position: absolute;
    top: 0;
    right: -2px;
    content: "";
    width: 2px;
    height: 100%;
    background-color: $gray;
    animation: blink 0.6s infinite;
  }

  &__author {
    overflow: hidden;

    &--animated {
      animation-name: reveal;
      animation-duration: 1s;
    }
  }
}
