.dropdown {
	width: 100%;
	margin: 20px 0 30px;
	font-family: 'Lato', sans-serif;

	@include breakpoint(tablet) {
		width: 320px;
	}

	&__options-filter {
    width: 100%;
    cursor: pointer;
  }

  &__filter {
    position: relative;
    display: flex;
    padding: 20px;
    color: $silver;
    background-color: white;
    border: 1px solid $aluminum;
    border-radius: 30px;
    font-size: 14px;
    text-transform: uppercase;
		transition: .3s;

		&:focus {
			border: 1px solid $caribbean-blue;
			outline: none;
			box-shadow: 0 0 5px 3px $caribbean-blue;
		}

    &::after {
      position: absolute;
      top: 45%;
      right: 20px;
      content: '';
      width: 10px;
      height: 10px;
      border-right: 1px solid $silver;
      border-bottom: 1px solid $silver;
      transform: rotate(45deg) translateX(-45%);
      transition: .2s ease-in-out;
    }

    &--open {
      &::after {
        transform: rotate(-135deg);
      }
    }
  }

  &__select {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    max-height: 330px;
    margin-top: 5px;
    overflow: auto;
    box-shadow: 0 5px 10px 0 rgba(152, 152, 152, 0.6);
		transform: scaleY(0);
		transform-origin: top;
    font-weight: 300;
    transition: .2s ease-in-out;

    &--open {
      transform: scaleY(1);
    }
  }

	&__select-option {
    padding: 20px;
    background-color: white;
		border-bottom: 1px solid $aluminum;
    transition: .3s;

    &:last-of-type {
  		border-bottom: 0;
    }

    &:hover {
      background-color: $ice;
    }
	}
}
