.weather {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  color: white;
  font-family: $textFont;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__temp {
    display: flex;
    margin: 10px 0 5px 5px;
    font-size: 3.8rem;
    font-weight: 700;
  }

  &__symbol {
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__main {
    font-size: 2rem;
    text-transform: capitalize;
  }

  &__levels {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  &__min,
  &__max {
    width: 100%;
    padding: 15px 5px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
  }

  &__min {
    margin-right: 2px;
    border-bottom-left-radius: 15px;
  }

  &__max {
    margin-left: 2px;
    border-bottom-right-radius: 15px;
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 200;
  }

  &__value {
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 700;
  }
}
