@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap");

@import "reset-css";

html {
  box-sizing: border-box;
  background-color: #f6f3ee;
  font-family: "Helvetica", "Arial", sans-serif;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
